@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: rgba(25,25,25,255);
    --orange: hsl(18, 79%, 66%);
    --gray: hsl(231, 6%, 51%);
    --light-gray: hsl(240, 30%, 95%);
    --white:hsl(180, 100%, 100%);
}

a:link {
    text-decoration: none;
  }
  
a:visited {
    color: var(--white);
  }
  
a:hover {
    color: var(--orange);
  }
  

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    width: 100%;
    height: 20vh;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: row;
    gap: 5vw;    
}

#logo {
    font-size: 2vw;
    font-weight: 600;
    margin-top: 4vh;
    margin-left: 9vw;
}

#menu-list {
    display: flex;
    flex-direction: row;
    gap: 4vw;
    margin-top: 5vh;
    margin-left: 7vw;
    text-transform: uppercase;
    font-size: 1.2vw;
    font-weight: 300;
}

#menu-list li {
    list-style: none;
}

#cart {
    font-size: 1.7vw;
    margin-top: 5vh;
    margin-left: 10vw;
}

#headphone {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80vh;
    margin: 10vh auto 10vh auto;
}

#headphone-img {
    width: 100%;
    margin: auto;
    margin-left: 5vw;
    color: var(--gray);
}

#headphone-img p {
    cursor: pointer;
}

#headphone-img img {
    width: 65%;
    margin-top: 1vh;
}

#headphone-content {
    width: 50%;
    margin-right: 5vw;
    margin-top: 5vh;
}

#name {
    text-transform: uppercase;
    color: var(--orange);
    letter-spacing: 0.3vw;
    font-size: 1.5vw;
}

#headphone-content h1 {
    text-transform: uppercase;
    font-size: 2.5vw;
    font-weight: 600;
    color: var(--black);
}

#description {
    font-size: 1.2vw;
    color: var(--black);
}

#price {
    font-size: 1.5vw;
    font-weight: 600;
    color: var(--black);
    margin-top: 1vh;
}

#cart-btn {
    font-size: 1vw;
    text-transform: uppercase;
    background-color: var(--orange);
    color: var(--white);
    border-style: none;
    padding: 0.5vw;
    margin-top: 2vh;
    cursor: pointer;
}

#features {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80vh;
    margin: 5vh auto 5vh auto;
    gap: 8vw;
}

#feature-text {
    width: 90%;
    color: var(--black);
}

#feature-text h3 {
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: 600;
    margin-bottom: 5vh;
}

#feature-text p {
    font-size: 1.2vw;
    color: var(--gray);
}

#box {
    width: 60%;
}

#box h3 {
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: 600;
    margin-bottom: 5vh;
}

#box-content li {
    list-style:circle;
    font-size: 1.2vw;
    color: var(--orange);
    font-weight: 600;
}

/*gallery*/

.row {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    gap: 3vw;
}

/*Style the images inside the grid*/
.column img {
    opacity: 0.8;
    cursor: pointer;
    width: 100%;
}

.column img:hover {
    opacity: 1;
}

#products {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80vh;
    background-color: var(--white);
    gap: 0.5vw;
    margin: auto;
}

.item {
    width: 25%;
    margin: auto;
    background-color: var(--light-gray);
    border-radius: 5px;
    text-align: center;
}

.item-img {
    width: 15vw;
    margin-top: -12vh;
    margin-bottom: 1vh;
}

.item-name {
    text-transform: uppercase;
    color: var(--black);
    font-weight: 600;
    font-size: 1.4vw;
}

.shop-btn {
    text-transform: uppercase;
    font-size: 1vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
    font-size: 1vw;
}

.shop-btn i {
    color: var(--orange);
    font-size: 1vw;
}

footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40vh;
    background-color: var(--black);
    color: var(--white);
    gap: 1vw;
}

#brand {
    width: 40%;
    margin-left: 10vw;
    margin-top: 7vh;
}

#footer-logo {
    display: flex;
    flex-direction: row;
    font-size: 2vw;
    font-weight: 600;
    margin-bottom: 3vh;
}

#footer-main {
    display: flex;
    flex-direction: row;
}

.btn {
    color: var(--black);
    background-color: var(--white);
    margin-left: 12vw;
    padding: 0.8vw;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 2px;
    cursor: pointer;
}

.btn:hover {
    letter-spacing: 0.1vw;
}

#footer-text {
    font-size: 1vw;
}

#footer-menu {
    width: 40%;
}

#footer-menu ul {
    display: flex;
    flex-direction: row;
}

#footer-menu li {
    list-style: none;
    padding: 2vw;
    font-size: 1.2vw;
    text-transform: uppercase;
    margin-top: 5vh;
}

#medias {
    margin-left: 30vw;
    font-size: 1.5vw;    
}

#medias i {
    padding: 0.5vw;
}

#pop {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--black);
}

#popup {
    width: 60%;
    height: 70vh;
    background-color: var(--white);
}

.content {
    text-align: center;
    margin-top: 5vh;
}

.content i {
    font-size: 7vw;
}

.content h2 {
    font-weight: 500;
    margin-bottom: 3vh;
}

.content p {
    margin-bottom: 3vh;
}

#popup .content .inputBox {
    margin-top: 3vh;
}

#popup .content .inputBox input {
    width: 50%;
    height: 8vh;
    border: 0.2vw solid;
}

#popup .content .inputBox input[type="submit"] {
    max-width: 15vw;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 2px;
    cursor: pointer;
}

.close {
    display: flex;
    flex-direction: row;
    margin-left: 50vw;
    margin-top: none;
    cursor: pointer;
}