@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: rgba(25,25,25,255);
    --orange: hsl(18, 79%, 66%);
    --gray: hsl(231, 6%, 51%);
    --light-gray: hsl(240, 30%, 95%);
    --white:hsl(180, 100%, 100%);
}

a:link {
    text-decoration: none;
  }
  
a:visited {
    color: var(--white);
  }
  

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    width: 100%;
    height: 20vh;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: row;
    gap: 5vw;    
}

#logo {
    font-size: 2vw;
    font-weight: 600;
    margin-top: 4vh;
    margin-left: 9vw;
}

#menu-list {
    display: flex;
    flex-direction: row;
    gap: 4vw;
    margin-top: 5vh;
    margin-left: 7vw;
    text-transform: uppercase;
    font-size: 1.2vw;
    font-weight: 300;
}

#menu-list li {
    list-style: none;
}

#cart {
    font-size: 1.7vw;
    margin-top: 5vh;
    margin-left: 10vw;
}

#cover {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 110vh;
    color: var(--white);
    background-image: url(./images/image-hero1.jpg);
    background-size: 100% 110vh;
}

#cover-product {
    width: 30%;
    margin-top: 20vh;
    margin-left: 10vw;
}

#title {
    text-transform: uppercase;
    letter-spacing: 1vw;
    font-weight: 200;
    margin-bottom: 3vh;
}

#cover-product h1 {
    text-transform: uppercase;
    letter-spacing: 1vw;
    font-weight: 600;
    margin-bottom: 3vh;
    font-size: 2.2vw;
}

#cover-product p {
    font-size: 1.3vw;
    font-weight: 300;
    margin-bottom: 6vh;
}

#cover-btn {
    background-color: var(--orange);
    color: var(--white);
    padding: 1vw;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1vw;
}

#products {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80vh;
    background-color: var(--white);
    gap: 0.5vw;
    margin: auto;
}

.item {
    width: 25%;
    margin: auto;
    background-color: var(--light-gray);
    border-radius: 5px;
    text-align: center;
}

.item-img {
    width: 15vw;
    margin-top: -12vh;
    margin-bottom: 1vh;
}

.item-name {
    text-transform: uppercase;
    color: var(--black);
    font-weight: 600;
    font-size: 1.4vw;
}

.shop-btn {
    text-transform: uppercase;
    font-size: 1vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
    font-size: 1vw;
}

.shop-btn i {
    color: var(--orange);
    font-size: 1vw;
}

#first-speaker {
    width: 80%;
    height: 70vh;
    margin: auto;
    background-color: var(--orange);
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    margin-bottom: 10vh;
}

#first-speaker-img img {
    width: 40vw;
    margin-top: 12.5vh;
}

#first-speaker-content h1 {
    text-transform: uppercase;
    color: var(--white);
    font-weight: 500;
    margin-top: 15vh;
    margin-bottom: 5vh;
}

#first-speaker-content p {
    color: var(--white);
    font-size: 1.2vw;
    margin-bottom: 5vh;
}

#first-speaker-content button {
    background-color: var(--black);
    color: var(--white);
    padding: 1vw;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1vw;
}

#speaker-z {
    background-image: url(./images/image-speaker-zx7.jpg);
    background-size: cover;
    width: 80%;
    height: 50vh;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 5vh;
    color: var(--black);  
    padding: 4vw;  
}

#speaker-z p {
    margin-left: 10vw;
    text-transform: uppercase;
    font-size: 1.5vw;
    font-weight: 700;
    letter-spacing: 0.1vw;
}

#speaker-z button {
    background-color: none;
    color: var(--black);
    padding: 1vw;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 10vw;
    margin-top: 5vh;
    font-size: 1vw;
}

#earphone {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 50vh;
    margin: auto;
    gap: 3vw;
    margin-bottom: 5vh;
}

#earphone-pic {
    height: 50vh;
    width: 50%;
    background-image: url(./images/image-earphones-yx1.jpg);
    border-radius: 5px;
}

#earphone-text {
    width: 50%;
    height: 50vh;
    background-color: var(--light-gray);
    border-radius: 5px;
}

#earphone-text p {
    margin-top: 10vh;
    margin-left: 10vw;
    text-transform: uppercase;
    font-size: 1.5vw;
    font-weight: 700;
    letter-spacing: 0.1vw;
}

#earphone-text button {
    background-color: var(--light-gray);
    color: var(--black);
    padding: 1vw;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 10vw;
    margin-top: 5vh;
    font-size: 1vw;
}

#brand-content {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80vh;
    margin: 15vh auto 15vh auto;
    gap: 6vw;
}

#brand-content-text {
    width: 50%;
    height: 80vh;
}

#brand-content-text h1 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5vh;
    font-size: 2.2vw;
}

#brand-content-text p {
    color: var(--gray);
    font-size: 1.2vw;
}

#brand-content-img img {
    /*background-image: url(./images/image-best-gear.jpg);*/
    background-size: cover;
    height: 80vh;
    width: 100%;
    border-radius: 5px;
}

footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40vh;
    background-color: var(--black);
    color: var(--white);
    gap: 1vw;
}

#brand {
    width: 40%;
    margin-left: 10vw;
    margin-top: 7vh;
}

#footer-logo {
    display: flex;
    flex-direction: row;
    font-size: 2vw;
    font-weight: 600;
    margin-bottom: 3vh;
}

#footer-main {
    display: flex;
    flex-direction: row;
}

.btn {
    color: var(--black);
    background-color: var(--white);
    margin-left: 12vw;
    padding: 0.8vw;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 2px;
    cursor: pointer;
}

.btn:hover {
    letter-spacing: 0.1vw;
}

#footer-text {
    font-size: 1vw;
}

#footer-menu {
    width: 40%;
}

#footer-menu ul {
    display: flex;
    flex-direction: row;
}

#footer-menu li {
    list-style: none;
    padding: 2vw;
    font-size: 1.2vw;
    text-transform: uppercase;
    margin-top: 5vh;
}

#medias {
    margin-left: 30vw;
    font-size: 1.5vw;    
}

#medias i {
    padding: 0.5vw;
}

#pop {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--black);
}

#popup {
    width: 60%;
    height: 70vh;
    background-color: var(--white);
}

.content {
    text-align: center;
    margin-top: 5vh;
}

.content i {
    font-size: 7vw;
}

.content h2 {
    font-weight: 500;
    margin-bottom: 3vh;
}

.content p {
    margin-bottom: 3vh;
}

#popup .content .inputBox {
    margin-top: 3vh;
}

#popup .content .inputBox input {
    width: 50%;
    height: 8vh;
    border: 0.2vw solid;
}

#popup .content .inputBox input[type="submit"] {
    max-width: 15vw;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 2px;
    cursor: pointer;
}

.close {
    display: flex;
    flex-direction: row;
    margin-left: 50vw;
    margin-top: none;
    cursor: pointer;
}

@media (max-width: 1024px) {
    #logo {
        font-size: 3vw;
    }
    #cover {
        background-color: var(--black);
        background-image: none;
        height: 52vh;
    }

    #cover-product {
        margin: auto;
    }

    #cover-btn {
        font-size: 1.5vw;
    }

    .item-img {
        margin-top: -8vh;
    }

    #brand-content {
        margin-bottom: 5vh;
    }

    #brand-content-img img {
        height: 65vh;
    }
}

@media (max-width: 767px) {

    #menu-list {
        font-size: 1.7vw;
    }

    #cover {
        margin-bottom: 8vh;
    }

    #cover-product p {
        font-size: 1.8vw;
    }

    #products {
        display: none;
    }

    #first-speaker {
        width: 80%;
        height: 60vh;
    }

    #first-speaker-content p {
        font-size: 1.5vw;
    }

    #first-speaker-content button {
        font-size: 1.5vw;
    }

    #speaker-z {
        background-image: url(./images/image-speaker-zx7-mobile.jpg);
    }

    #speaker-z p {
        font-size: 5vw;
    }

    #speaker-z button {
        font-size: 1.5vw;
    }

    #earphone-pic {
        display: none;
    }

    #earphone-text {
        width: 100%;
    }

    #earphone-text p {
        font-size: 5vw;
    }

    #earphone-text button {
        font-size: 1.5vw;
    }

    #brand-content {
        display: flex;
        flex-direction: column;
        height: 50vh;
    }

    #brand-content img {
        display: none;
    }

    #brand-content-text {
        width: 80%;
        margin: auto;
    }

    #brand-content-text h1 {
        font-size: 3.5vw;
    }

    #brand-content-text p {
        font-size: 2vw;
    }

    footer {
        display: flex;
        flex-direction: column;
        height: 58vh;
    }

    #brand {
        width: 80%;
    }

    #footer-logo {
        font-size: 3vw;
    }

    #footer-text {
        font-size: 2vw;
    }

    #footer-menu {
        width: 80%;
    }

    #footer-menu li {
        font-size: 2vw;
        margin: 3vh auto 3vh auto;
    }

    #medias {
        font-size: 4vw;
    }
}